

<body>
  <div id="teaser">
    <div class="wrap">
      <div id="image"></div>
      <div class="box">
        <h2>Sign up</h2>
        <p><%yield%>
          <%= form_for(@user) do |f| %>
        <div class = "form">
        <p><b>Name</b><br/>
        <%= f.text_field :name %></p>
        <p><b>Email</b><br/>
        <%= f.email_field :email %></p>
      </div>
      </div>
      <div class = "box2"
        <p><b>Password</b><br/>
        <%= f.password_field :password %></p>
        <p><b>Password Confirmation</b><br/>
        <%= f.password_field :password_confirmation %></p>
        <% if @enable_recaptcha %>
        <p><%= recaptcha_tags :ssl => true %></p>
        <% end %>
        <%= check_box_tag(:agreement_checkbox) %> 
        I have read the User Agreement
        and I agree to be bound by its terms.
        <p><%= f.submit "Sign up"%></p>
        </div>

</div>
<% end %></p>
      </div>
    </div>



<br/>


